a{
  color: blue;
}
/*  */
.struct-hero {
  outline: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  width: 280px;
  height: 400px;
  align-self: start;
}
.pdbid_title{
  display: inline-block;
  text-anchor: middle;
  text-align: center;
  margin: auto;
}
.p_annot{
  position: relative;
  font-size: small;
  cursor: pointer;
  display: flex;

}


.experimental_method{
  position: relative;
  font-size: small;
  cursor: pointer;
  display: flex;
}
.experimental_method_value{
color: royalblue;
}



.methods-table{
  width:600px;
  text-align: left;

}
#tooltip{
  width: 600px;
  font-size: 12px;
  background-color:black;
}
