/* p_annot denotes an annotation paragraph */
/* tt_content denotes a tooltip content to be revealed on hover */
.struct-hero {
  cursor: pointer;
  position: relative;
  padding: 10px;


  display:flex
}

.pdbid_title{
  display: inline-block;
  text-anchor: middle;
  text-align: center;
  margin: auto;
}

.hero_annotations{
  width: 70%;
}
.hero_annotations p{
  margin:0;
}

.struct-hero div p {
  color: white;
  font-size: 12px;
}

.tt_icon {
  height: 20px;
  width: 20px;
  filter: invert(0.2);
}

.tooltip {
  width: min-content;
  height: min-content;
  text-decoration: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.tooltip .tt_content {
  display: none;
}

.tooltip:hover .tt_icon {
  filter: invert(1);
}
.tooltip:hover .tt_content {
  position: absolute;
  display: block;
  width: 400px;
  margin: 0;
  padding: 0;
  left: 100px;
  top: -45px;
  outline: 1px solid black;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
}


