.struct-hero a{
  color:blue;
  width: min-content;
}

.struct-hero {
  outline      : 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
  height       : min-content;
  font-size: 14px;
  width: 500px;
}


#header-description{
  display        : flex;
  justify-content: flex-start;
  height: 60px;
  position: relative;
}
#header-reso-year{
display: flex;
justify-content: space-between;
}


#title-description{
  font-size: 0.75vw ;
  padding-left: 10px ;
}

.struct-hero p{
  margin : 0;
  padding: 0;
}

#struct-hero-table{
  width : 100%;
  height: fit-content
}
.pdbid_title{
  display    : inline-block;
  text-anchor: middle;
  text-align : center;
  font-size  : 24px;
  margin     : auto;
}

.experimental_method{
  display: flex;
  width: min-content;
  white-space: nowrap;
}


.experimental_method_value{
  padding-left: 5px;
  color      : #0056b3;
  width      : min-content;
  white-space: nowrap;
}

.tooltip-bottom > .tooltip-inner {
  max-width: 700px;
  padding  : 0;
  color    : black;
  border   : 1px solid #062e56;
}

.tooltip-bottom > .tooltip-arrow {
  border-top: 5px solid #062e56;
}

.methods-table{
  width     : 600px;
  text-align: left;
  color     : white;
}
#struct-reso{margin-right: 10px;}
#struct-year{
  white-space: nowrap;
  font-style: italic;
}