.ban-class-hero {
  outline: 1px solid black;
  padding: 5px;
  display:grid;
  grid-template-rows: 1fr 1fr;
  /* width  : 11em; */
  /* height : 6em; */
}
.ban-class-hero :hover{
  cursor: pointer;
}

#legacy-noms{
  width:min-content;
  white-space: nowrap;
}

.ban-class-hero h4{
  text-align: left;
}
.ban-class-hero p{
  font-size: 16px;
  margin   : 0;
  padding  : 0;
}
.ban-class-hero .members{
  background-color: khaki;
}
.ban-class-hero .rp-class-member-table{
  max-width: 400px;
  color:red;
}
#member-chains{
  text-decoration: underline;
}
#member-chains:hover{
  cursor: pointer;
}


.rp-class-member{
  font-size: 14px;
  display: flex;
  width: 400px;
}

.banclasses{
  display: flex;

}

#legacy-qmark{
  width:20px;
  height:20px;
}

#legacy-noms{
  outline: 1px solid cyan;
  
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.legacy-nomenclature > .tooltip-inner{
  color:white;
  font-size: 14px;
  background-color: black;
  max-width       : 600px;
}

.leg-nom-table{
  width: 200px;
  text-align: center;
  vertical-align: middle;
}

.ban-class-hero .popover-body{
  max-width: 400px;
}

.basic-content{
  overflow: scroll;
  height: 40vh;
  width:400px;
}
.popover {
  min-width:500px;
}

#banhero-table{
  background-color: yellow;

}

