
#member-chains{
  text-decoration: underline;
}
#member-chains:hover{
  cursor: pointer;
}


.rp-class-member{
  font-size: 14px;
  display: flex;
  width: 400px;
}

.banclasses{
  display: flex;

}

#legacy-qmark{
  width:20px;
  height:20px;
}

#legacy-noms{
  outline: 1px solid cyan;
  
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}


.basic-content{
  overflow: scroll;
  height: 40vh;
  width:400px;
}
.popover {
  min-width:500px;
}

#banhero-table{
  background-color: yellow;

}

.ban-class-hero{
 margin-top: 10px; 
 padding: 10px; 
  /* cursor: pointer; */
}
#ban-class-parents:hover{
  color:rgba(0,93,241,0.6);

}
#ban-class-chains:hover{
  color:rgba(0,93,241,0.6);
}
.ban-class-chains{

}

/* .ban-class-hero:hover{
  transform : translateY(3px);
  box-shadow: 3px 5px 4px rgba(142, 175, 191, 0.775);
  transition: all 250ms;
  border    : 1px solid black;

} */


.commentstooltip{
  
  color:white;
  font-size: 14px;
  background-color: black;
  width       : 600px;
  
}

.helphidden{
  visibility: hidden;
}