.ribosomal-protein-hero {
  position: relative;
  width: min-content;
  display: flex;
  width: 600px;
  outline: 1px solid lavender;
  margin-bottom: 10px;
}

.chain-download {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.main-properties {
  width: max-content;
  outline: 1px solid black;
  position: relative;
  font-size: small;
}

.chain-properties {
  display: grid;
  /* grid-template-rows: 80px auto; */
  outline: 2px dashed slateblue;
  /* grid-template-columns: 1fr 1fr 8fr; */
  /* column-gap: 20px; */
  grid-template-areas:
    "header-chain header-nom header-properties"
    "chain nom properties";
}

p {
  font-size: small;
  margin: 0;
  padding: 0;
}
.header-chain {
  padding: 10px;
  grid-area: "header-chain";
  font-size: large;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
}
.header-nom {
  padding: 10px;
  font-size: large;
  grid-area: "header-nom";
  border-right: 2px solid black;
  border-bottom: 1px solid black;
}
.header-properties {
  padding: 10px;
  font-size: large;
  grid-area: "header-properties";
  border-bottom: 1px solid black;
}
.properties {
  padding: 10px;
  grid-area: "properties";
}

.chain {
  padding: 10px;
  grid-area: "chain";
  border-right: 2px solid black;
}
.nom {
  padding: 10px;
  grid-area: "nom";
  border-right: 2px solid black;
}

.chain-download,
.down_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  bottom: 5px;
}
