.ribosomal-protein-hero {
  position: relative;
  /* background-color: rebeccapurple; */
  /* display: flexJ */
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  display: grid;
  grid-template-rows: auto;
  outline: 1px solid gray;
  
}

.ribosomal-protein-hero ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.ribosomal-protein-hero li{
  display: flex;
}


.chain-download {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.ribosomal-protein-hero th{
  font-size: 12px;

}
table, td,tr, th{
  width: 400px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid gray;
}
.card button{
  font-size: 12px;
}

.ribosomal-protein-hero p {
  font-size: 12px;
  margin   : 0;
  padding  : 0;
  font-weight: 800;
}
.chain-download,
.down_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  bottom: 5px;
}