table{
  margin: 0;
  width: 100%
}
.ribosomal-protein-hero {
  position: relative;
  width:400px;
  padding-bottom: 20px;

  
}

.ribosomal-protein-hero ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.ribosomal-protein-hero li{
  display: flex;
}


.chain-download {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.ribosomal-protein-hero th{
  font-size: 12px;

}
table, td,tr, th{
  width: 400px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid gray;
}
.card button{
  font-size: 12px;
}

.ribosomal-protein-hero p {
  font-size: 12px;
  margin   : 0;
  padding  : 0;
  font-weight: 800;
}
.chain-download,
.down_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  bottom: 5px;
}
.prot-loading{
  display        : flex;
  justify-content: space-between;
  width:100%;
}
.prot-loading img{
  width : 20px;
  height: 20px;
}
#download-protein{
  width : 20px;
  height: 20px;
  margin-right: 20px;
  transition: all 100ms;
 }
#download-protein:hover{
  transform: translate(0px,2px)
}

.down-prot-button{
  cursor: pointer;
  border: none;
}

.pfamdescription-aa{
  word-break: normal; 
   word-break  :  normal;

   /* white-space: nowrap; */
}


.down-banner{

  display: flex;
  flex-direction: column;
  justify-content: center;


}