ul{
  padding: 0;
  margin : 0;
}
.rps-catalogue {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.ban-class-hero {
  position: relative;
  /* display: flex; */
  outline: 1px solid black;
  height: min-content;
  position: relative;
  font-size: small;
}

.stats {
  margin-left: 20px;
  padding-left: 10px;
  display: flex;
}
.banClassName {
  margin-left: 20px;
  color: slateblue;
}

.rps-ssu,
.rps-lsu,
.rps-other {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
}

.tt_icon {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  filter: invert(0.5);
}

.tooltip {
  position: absolute;
  width: 120px;
  height: 20px;
  top: 5px;
  right: 5px;
  font-size: small;
}

.tt_content {
  display: none;
}

.tooltip:hover .tt_icon {
  filter: invert(1);
}
.tooltip:hover .tt_content {
  display: block;
}
