.rps-catalogue {
  display: grid;
  grid-template-columns: 200px auto;
  gap:10px;
  padding: 20px;
}

.filters-tools-rps{
  outline: 1px solid powderblue;
  padding: 10px;

}

.rps-catalogue-classes{
  padding:10px;
  outline: 1px solid powderblue;
  /* grid-column   : 2/8; */
}

.rps-catalogue .component-category{
  padding        : 5px;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  gap: 20px;
}

.rps-catalogue .cat{
  cursor: pointer;
  width:min-content;
  font-size: 20px;
  white-space: nowrap;
}

.rps-catalogue .activecat{
  cursor: pointer;
  padding: 5px;
  width:min-content;
  white-space: nowrap;
  font-size: 20px;
  outline: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;
}


.rps-subunit-tray{
  
  display: flex;
  flex-direction: column;
  padding: 5px;

}

.subunit-members{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.subunit-members h4{
  grid-column: 1/4;
  height: min-content;
}

.kingdom-tray {
  border: 1px solid #0e0e0e;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
}
/* .subunit-members #b{
  display: grid;
  grid-template-columns: 1fr 1fr;
} */