.display {
  grid-area: display;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 95%;

  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 200px auto;
  grid-template-areas:
    "oned oned"
    "threed twod";


  overflow: hidden;
  overflow-y: scroll;
}
