.display {
  grid-area: display;
  position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 200px auto;
  grid-template-areas:
    "oned oned"
    "threed twod";
  outline: 1px solid crimson;
}

img {
  object-fit: contain;
}
.primary {
  margin: 10px;
  outline: 1px solid blue;
  overflow: hidden;
  overflow-y: scroll;
  grid-area: oned;
}
.tertiary {
  margin: 10px;
  outline: 1px solid blue;
  overflow: hidden;
  grid-area: threed;
}
.secondary {
  margin: 10px;
  outline: 1px solid blue;
  overflow: hidden;
  overflow-y: scroll;
  grid-area: twod;
}

.secondary img {
  transform: rotate(90deg);
}
