.main {

  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "nav nav "
    "display display ";
}
/* 
.toolbar {
  grid-area: toolbar;
} */

.link{

  width: min-content;
  height: min-content;
  margin: 0;

  padding: 0;

}