.main {

  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "nav nav "
    "toolbar display ";
}

.toolbar {
  grid-area: toolbar;
}

.link{

  background:peru;
  width: min-content;
  height: min-content;
  margin: 0;

  padding: 0;

}