.navbar {
  font-size: 20px;
  grid-area: nav;
  color: white;
  width: 100%;

  display: flex;
  justify-content: space-between;
}
/* .navbar-logo {
  margin-left: 40px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
} */


.navbar-logo img {
  height: 100px;
  object-fit: contain;
}


.navbar-controls {
    width:600px;

  display: flex;
  justify-content: space-evenly;
}
.navbar button {
    color:white;
  width: 120px;
  height: 100%;
  cursor: pointer;
  border: none;
  background: none;
}

.navbar button:hover{
    background-color: white;
    color: black
}