:root {
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 400px;
  --border: 1px solid #474a4d;
  --speed: 200ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.toolbar {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.85);
  /* top: 20px;
  left: 60px; */

  font-size: medium;
  padding: 10px;
  position: relative;
  z-index: 200;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.toolgroup {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  color: white;
  transition: all 200ms;
}

.toolgroup:hover {
  filter: brightness(1.1);
  color:black;
  background-color: white;

}

.dropout-menu {
  color:white;
  position: absolute;
  width: 250px;
  z-index: 40;
  transform: translate(80%);
  border: var(--border);
  padding: 1rem;
  /* overflow: hidden; */
}

.tool {
  margin-top: 2px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  display: flex;

  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}
