:root {
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 400px;
  --border: 1px solid #474a4d;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.toolbar {
  padding: 10px;
  position: relative;
  z-index: 200;
  height: var(--nav-size);
  /* padding: 0 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.toolgroup {
  cursor: pointer;
  font-size: large;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: medium;

  height: 60px;
  width: 100%;

  transition: all 400ms;
  background: none;
}

.toolgroup:hover {
  filter: brightness(1.5);
  background-color: aliceblue;
  color: black;
}

.dropout-menu {
  background-color: black;
  position: absolute;
  width: 250px;
  height: 100px;
  z-index: 40;
  transform: translate(80%);
  border: var(--border);
  padding: 1rem;
  /* overflow: hidden; */
}

.tool {
  margin-top: 2px;
  cursor: pointer;
  background: none;
  color: white;
  font-size: large;
  width: 100%;
  height: 50px;
  display: flex;

  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}
.tool:hover {
  color: black;
  background-color: antiquewhite;
}
