
.ligand-catalogue a{
    color:blue;
    cursor:pointer;
}
.ligand-catalogue p{
  margin: 0;
}

.ligand-catalogue{
  padding: 10px;
  width                : 100%;
  display              : grid;
  gap: 10px;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: auto;

}

.filters-tools{
  outline: 1px solid blue;
  padding: 10px;
  width: 200px;
  background-color: aliceblue;
  grid-column: 1/2;
}

.ligand-catalogue-grid{
  grid-column: 2/8;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}


.ligand-hero{
  white-space: nowrap;
  position: relative;
  font-size: 14px;
  min-width: 200px;
  width: min-content;
  height: min-content;
  outline: 1px solid black;
  padding: 10px;
}

/* 
.assoc-struct-span span{
  padding: 0;
  margin: 0;
  padding-right: 10px;
} */
.assoc-struct-span{
  display: flex;
  white-space: nowrap;

  width: 100%;
}

.annot-structs{
  display: flex;
}

#lig-str-present{
cursor: pointer;
text-decoration: underline;
}



