.workspace-catalogue {
  height : 100%;
  padding: 10px;
  outline: 1px solid white;
  display: flex;
  gap    : 20px;
}

.kingdom-tray {
  display              : grid;
  grid-template-columns: 1fr 1fr;
  padding              : 10px;
  gap                  : 10px;
  width                : 600px;
  outline              : 1px dashed slategrey;
}

.tray-title {
  grid-column-start: 1;
  grid-column-end  : 3;
  grid-auto-flow   : column;
  height           : min-content;
}



.workspace-catalogue-grid{
  /* outline              : 2px solid red; */
  width                : 100%;
  grid-auto-flow       : row;
  display              : grid;
  gap: 20px;
  grid-template-columns: 1fr 6fr;

}

.filters-tools{
  outline: 1px solid blue;
  padding: 10px;
  grid-column: 1/2;
}

.workspace-catalogue-structs{
  grid-column: 2/8;
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  grid-template-columns:  1fr 1fr 1fr;
}
