/* .workspace-catalogue {
  height : 100%;
  padding: 10px;
  outline: 1px solid white;
  display: flex;
  gap    : 20px;
} */



.workspace-catalogue-grid{
  width                : 100%;
  grid-auto-flow       : row;
  display              : grid;
  gap                  : 20px;
  /* background-color     : pink; */
  grid-template-columns: 300px auto;

}

.wspace-catalogue-filters-tools{
  outline: 1px solid blue;
  background-color: yellow;
  font-size: 14px;
  padding: 10px;
}

.workspace-catalogue-structs{
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  grid-template-columns:  1fr 1fr 1fr;
}
