.homepage{
  display              : grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  /* grid-template-rows   : 1fr 1fr 1fr; */
  gap:10px;
  grid-template-areas  : 
    "stats  stats  mods     mods"
    "relmat relmat mods     mods"
    "relmat relmat footer   footer";
}

.md-content{

    width: 40vw
}


.relmats{
    margin-bottom: 20px;
}
.relmats li{
    list-style-type: square;
    margin-left: 20px;
    /* padding: 10px; */
}

#title-figcap{
    display: flex;
    text-align: center;
    justify-content: center;

    font-size: 14px;
}


#kddgroup{
    outline: 1px solid cyan;
    display: flex;

}
#kddgroup .txt{
    outline: 1px solid cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.group-plug{
    outline: 1px solid paleturquoise;
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
}
.footerimg{
    width: 140px;
}

.group-plug  p{
    width: 400px;
}


.relmats ul{
    padding: 0;
    margin: 0;
}
.mods{
    grid-area: mods;
    height: min-content;
}

.mods-acc{
    max-height: 600px;
    font-size: 14px;
}

.rrr{
    font-size: 16px;
}
.stats{
    grid-area: stats;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: min-content;
}

#stats-proper{
    display: flex;
    margin-bottom: 40px;
}
#teg{
    width:300px
}

.area{
    padding: 20px;
}


.modfig{
    margin: 20px;
    display         :  flex;
    flex-direction  :  column;
    align-items     :  center;
}

#conversion{
    width: 400px;
    transition: all 150ms;
}
#conversion:hover{
    cursor: pointer;
    box-shadow: 1px 4px 2px 2px rgba(0, 0, 0, 0.151);
}

.homepage a{
    color: blue;
}

.homepage p{
    margin : 0;
    padding: 0;
}

.footer{
    position: relative;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    vertical-align: middle;
}
#fig1{
    width:400px;
    transition: all 150ms;
}
#fig1:hover{
    cursor: pointer;
    box-shadow: 1px 4px 2px 2px rgba(0, 0, 0, 0.151);
}

#tunnel{
    width:100%;
}
#mapdown{
    color:blue;
    cursor: pointer;
}

#foot{
    font-size: 14px;
    position: absolute;
    right: 0px;
    display: flex;
    justify-items: center;
    align-items: center;
}
#indent{
    padding-left: 30px;
}

#mod-header{
    font-size: 16px;
}
.mod-card-body{
    /* background-color: bisque; */
    padding: 20px;
    
}
#react-images-container{
background-color: #FFF;
}
.ril-inner {

background-color: #FFF;
}