.homepage{
  display              : grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  /* grid-template-rows   : 1fr 1fr 1fr; */
  gap:10px;
  grid-template-areas  : 
    "stats  stats  mods     mods"
    "relmat relmat mods     mods"
    "relmat relmat footer   footer";
}
#title-figcap{
    display: flex;
    text-align: center;
    justify-content: center;

}


#kddgroup{
    outline: 1px solid cyan;
    display: flex;

}
#kddgroup .txt{
    outline: 1px solid cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.group-plug{
    outline: 1px solid paleturquoise;
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
}
.footerimg{
    width: 140px;
}

.group-plug  p{
    width: 400px;
}


.relmats ul{
    padding: 0;
    margin: 0;
}
.mods{
    grid-area: mods;
    height: min-content;
}

.mods-acc{
    max-height: 600px;
    font-size: 14px;
}

.rrr{
    font-size: 14px;
}
.stats{
    grid-area: stats;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: min-content;
}

#stats-proper{
    display: flex;
    margin-bottom: 80px;
}
#teg{
    width:300px
}

.area{
    padding: 20px;
}



#conversion{

    width: 800px;
}

.homepage a{
    color: blue;
}

.homepage p{
    margin : 0;
    padding: 0;
}

.footer{
    position: relative;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    vertical-align: middle;
}

#tunnel{
    width:100%;
}

#foot{
    font-size: 14px;
    position: absolute;
    right: 0px;
    display: flex;
    justify-items: center;
    align-items: center;
}