.navbar {
  font-size: 20px;
  grid-area: nav;
  color: white;
  width: 100%;
  border-bottom: 1px dashed black ;
  display: flex;
  justify-content: space-between;
}


.wip {

  text-align: center;
}

.categories {
  display: flex;
  font-size: xx-large;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  text-decoration: none;
  color: black;
}

.navbar-controls {
  width: 600px;
  justify-self: right;
  display: flex;
  justify-content: space-evenly;
}
.navbar button {
  font-size: large;
  /* color: white; */
 width: 120px;
  height: 100%;
  cursor: pointer;
  border: none;
  background: none;
}

.navbar button:hover {
  background-color: white;
  color: black;
}
