.exit-tunnel-page .md-elem{
    width:600px;
}
#md-elem-img {
    margin: 0px;
    max-width: 200px;
    width: 400px;
}
.exit-tunnel-page{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 20px;
}
.exit-tunnel-page h4{
    font-size: 20px;
}
#demogif{
    width: 100%;
}
#demogif:hover{
    cursor: pointer;
}
.down-prot-button, #down-wall-prot, .down-banner{
    width:15px;
    margin: 0;
}

.exposee {
    font-size: 14px;
}
.exposee li{
    list-style-type: square;
    margin-top:10px;
}
.tunnel-head{
    padding:10px;
    display: flex;
    justify-content: space-between;

}

.wall-ligand{
    border: 2px solid silver;
    padding: 5px;
}
.tunnel-wall-profile{
    outline           : 1px solid bisque;
    display           : grid;
    padding           : 20px;
    gap               : 10px;
    grid-template-rows: 1fr 1fr 1fr
}
#lig-top{

}
.ligand-container{
    outline: 1px solid rgba(128, 128, 128, 0.425);
    padding: 10px;
    display: flex;
    gap:10px;

}
#rna-top{}
#prot-top{}


.tip-and-filters{
    padding: 10px;
    /* width:600px; */
}
#card-head{
    font-size: 20px;
}

.filler{
    width:100%;
    height: 60px;
    outline: 1px solid cyan;
    margin: 5px;
}

.isligand{
    background:  cornflowerblue;
}

.wc-header{
    display: flex;
    font-size: 18px;
    overflow: hidden;
    
}
#list-group{
    height:200px;
    overflow-y: scroll;
    overflow-x: scroll;
}
#list-group::-webkit-scrollbar{
    width: none;
}
.wallchain{
    font-size: 14px;
    overflow: hidden;
}

.rna-container{
    padding: 10px;
    outline: 1px solid rgba(128, 128, 128, 0.425);
    margin: auto;
}
.protein-container{
    padding: 10px;
    outline: 1px solid rgba(128, 128, 128, 0.425);
    display: flex;
    gap:10px;
    /* width: min-content; */
    height: 400px;
}
.lig{
    display: flex;
    justify-content: space-between;
    justify-items: space-between;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

.wall-display{
    border: 1px solid rgba(128, 128, 128, 0.425);
}


.in-dev{
    font-style: italic;
    color: orangered;

}

.wall-residue:hover{
    transform: translate(1px,2px);
    cursor: pointer;
}

.wall-residue{
    padding: 3px;
    border: 1px solid rgba(128, 128, 128, 0.425);
    border-radius: 4px;
    margin-top: 2px;
    width: 270px;
    height: 40px;
    transition: all 100ms;
}
.wall-ligand{
    outline: 1px solid royalblue;
}
.resid-span{
    display: flex;
    justify-content: space-between;
}