.ribosomal-protein-hero {
  width: min-content;
  color: white;
  display: flex;

  outline: 1px solid white;
  
  margin-bottom: 10px;
}

.ban-nom {
  width: 70px;

  justify-self: center;
  margin-bottom: 10px;
}
.link {
  width: min-content;
  margin-right: 20px;
}
.link:hover {
  color: blue;
}

.pdb-name {
  outline: 1px solid green;
  color: wheat;
  font-size: small;
  height: min-content;
}

p {
  margin: 0;
  padding: 0;
}
.chain-download {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.main-properties {
  word-wrap: none;

  font-size: small;
}
.chainname {
  width: 80px;
  font-size: xx-large;
  color: green;
}
