.structure-page {
  margin: 5px;
}
.structure-page a:hover {
  color:blue;
}

.rnaprottoggle {
  text-decoration: underline;
  cursor: pointer;
  font-size: larger;
  width: 200px;
  margin-bottom: 20px;
}


.structure-info {
    font-size: 20px;
}

.by-subunit {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  padding: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.structure-page.ssu,
.lsu,
.other {

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}