.structure-page {
  position: relative;
  display: flex;
}

.structure-page--main {
  /* margin: 5px; */
  width: 18vw;
}
.structure-page a:hover {
  color: blue;
}
.structure-page--main {
}
.structure-info {
  padding: 0px 20px;
  display: grid;
  grid-template-rows: repeat(40px, 5);
  gap: 5px;
  background-color: aliceblue;
}
.annotation {
  font-size: 14px;
  /* border: 1px solid black; */
}

.title,
h2 {
  border: 1px solid brown;
  margin: 0;
  text-align: center;
}
.structure-page--components {
  background-color: teal;
}
.rnaprottoggle {
  padding: 0 20px;
  cursor: pointer;
  width: min-content;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-decoration: underline;
}

.structure-info {
  font-size: 20px;
}

.component-category{
  padding:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.cat{
  cursor: pointer;
  padding: 5px;
  width:min-content;
  outline: 1px dashed black;
  font-size: 20px;
}
.activecat{
  cursor: pointer;
  padding: 5px;
  width:min-content;
  font-size: 20px;
  outline: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;

}
.tooling {
  /* color: aliceblue; */
}
