.struct-grid {
  background-color: azure;
  /* padding: 0px 10px; */
height: 100%;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.struct-grid-lsu {
  /* grid-column: 1/7; */
  width: min-content;
  flex-direction: column;
  display: flex;;
}
.struct-grid-ssu {
  /* grid-column: 7/12; */
  display: flex;;
  flex-direction: column;
  width: min-content;
}

