.structure-page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.structure-page--main {
  /* margin: 5px; */
  width: 18vw;
}
.structure-page a:hover {
  color: blue;
}
.structure-info {
  padding: 0px 20px;
  display: grid;
  grid-template-rows: repeat(40px, 5);
  gap: 5px;
}
.annotation {
  font-size: 14px;
  /* border: 1px solid black; */
}
.tooltip-bottom > .tooltip-inner {
  max-width: 700px;
  color: whitesmoke;
  padding: 0;
  color: black;
  border: 1px solid #062e56;
}

.tooltip-bottom > .tooltip-arrow {
  border-top: 5px solid #062e56;
}

.methods-table{
  width:600px;
  text-align: left;
  z-index: 4;

  color:white;
}
.struct-page-ligands{
  padding: 20px;
}

.title,
h2 {
  margin: 0;
  text-align: center;
}
/* .structure-page--components {
} */
.rnaprottoggle {
  padding: 0 20px;
  cursor: pointer;
  width: min-content;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-decoration: underline;
}

.structure-info {
  font-size: 20px;
}

.component-category{
  padding:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.cat{
  cursor: pointer;
  padding: 5px;
  width:min-content;
  font-size: 20px;
}
.activecat{
  cursor: pointer;
  padding: 5px;
  width:min-content;
  font-size: 20px;
  outline: 1px solid black;
  box-shadow: 1px 1px 1px 1px black;

}