.struct-grid {
  background-color     : azure;
  width                : 100%;
  display              : grid;
  /* gap                  : 10px; */
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.struct-grid {
  white-space: nowrap;
}

.struct-grid-lsu {
  display: flex;;
  flex-direction: column;
  width: min-content;
  /* outline: 1px solid black; */
  padding: 10px;
}
.struct-grid-ssu {
  display: flex;
  flex-direction: column;
  width: min-content;
  /* outline: 1px solid black; */
  padding: 10px;
}

.struct-grid-other {
  display: flex;;
  flex-direction: column;
  width: min-content;
  /* outline: 1px solid black; */
  padding: 10px;
}


