
.structure-page{
  position: relative;
  display: flex;
}


.structure-page--main {
  /* margin: 5px; */
  width: 18vw;
}
.structure-page a:hover {
  color:blue;
}
.structure-page--components{


}
.rnaprottoggle {
  cursor: pointer;
  text-decoration: underline;
  
}


.structure-info {
    font-size: 20px;
}

.by-subunit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-left: 20px;
}
.subunit-title{
  font-size: xx-large;
  font-weight: 550;
  margin: 20px 0;
 }

.ssu,
.lsu,
.other {

  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}